In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
demol_per_granted=gpd.read_file('shapefiles/demolition_permit_granted/demolition_permit_granted.shp')

In [3]:
demol_per_granted.info()

#we need to clean 2 columns

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 789 entries, 0 to 788
Data columns (total 10 columns):
id            789 non-null object
identifica    789 non-null int64
bouwjaar      789 non-null int64
status        789 non-null object
gebruiksdo    374 non-null object
oppervlakt    789 non-null int64
oppervla_1    789 non-null int64
aantal_ver    789 non-null int64
actualitei    0 non-null object
geometry      789 non-null geometry
dtypes: geometry(1), int64(5), object(4)
memory usage: 61.8+ KB

In [4]:
demol_per_granted['status'].unique()

array(['Sloopvergunning verleend'], dtype=object)

In [5]:
demol_per_granted['bouwjaar'].unique()

array([1973, 2004, 1965, 1964, 1961, 1993, 1980, 1932, 1908, 1913, 1972,
       1953, 1800, 1900, 1955, 1931, 1880, 1971, 2008, 1967, 1958, 1968,
       1990, 1925, 1979, 1994, 1970, 1890, 1960, 1983, 1996, 1998, 1949,
       1954, 1920, 1999, 1959, 1991, 1939, 1863, 1630, 1947, 1975, 1895,
       1798, 1935, 1987, 1956, 1962, 1937, 1915, 1938, 2005, 1992, 2006,
       1984, 1934, 1963, 1981, 1928, 1977, 1988, 2001, 1982, 2012, 1974,
       1930, 1905, 1906, 1881, 1923, 1926, 1933, 1989, 1978, 2007, 2009,
       1950, 2018, 1927, 1943, 1957, 1850, 1883, 1901, 1902, 1976, 1985,
       2010, 2015, 1882, 1966, 1951, 1910, 1986, 1911, 1952, 1995, 1912,
       1936, 2013, 1929, 1948, 1917, 1914, 1969, 2000, 1940, 1840, 2003,
       2002, 1775, 1894], dtype=int64)

In [ ]:
#converting the column gebruiksdo having null values to string type
#demol_per_granted['gebruiksdo']=demol_per_granted['gebruiksdo'].astype(str)

In [6]:
demol_per_granted.columns

#id, identifier, constuction year, status, usage, square mts,square mts, number of floors,current events, geometry

Index(['id', 'identifica', 'bouwjaar', 'status', 'gebruiksdo', 'oppervlakt',
       'oppervla_1', 'aantal_ver', 'actualitei', 'geometry'],
      dtype='object')

In [7]:
#removing rows with null values
clean_data_granted=demol_per_granted.dropna(subset=['gebruiksdo'])

In [8]:
#dropping the column actualitei having all null values in it
clean_data_granted=clean_data_granted.drop(columns=['actualitei'],axis=1)

In [9]:
clean_data_granted.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 374 entries, 0 to 788
Data columns (total 9 columns):
id            374 non-null object
identifica    374 non-null int64
bouwjaar      374 non-null int64
status        374 non-null object
gebruiksdo    374 non-null object
oppervlakt    374 non-null int64
oppervla_1    374 non-null int64
aantal_ver    374 non-null int64
geometry      374 non-null geometry
dtypes: geometry(1), int64(5), object(3)
memory usage: 29.2+ KB

In [15]:
clean_data_granted.to_csv('demolition_permit_granted_data.csv',index=False)

In [11]:
clean_data_granted.head()

,id,identifica,bouwjaar,status,gebruiksdo,oppervlakt,oppervla_1,aantal_ver,geometry
0,pand.2174299,1783100000004027,1973,Sloopvergunning verleend,woonfunctie,187,187,1,"POLYGON Z ((73648.140 451090.143 0.000, 73637...."
2,pand.2174478,1783100000004225,1965,Sloopvergunning verleend,woonfunctie,95,95,1,"POLYGON Z ((71397.997 448579.317 0.000, 71396...."
4,pand.2174945,1783100000004728,1961,Sloopvergunning verleend,woonfunctie,143,143,1,"POLYGON Z ((72449.563 448985.736 0.000, 72446...."
6,pand.2175198,1783100000005015,1980,Sloopvergunning verleend,woonfunctie,105,105,1,"POLYGON Z ((74467.233 442910.392 0.000, 74461...."
7,pand.2622492,518100000231751,1932,Sloopvergunning verleend,overige gebruiksfunctie,5,5,1,"POLYGON Z ((80618.371 453199.996 0.000, 80617...."

In [12]:
#converting pandas file to geopandas dataframe
gdf=gpd.GeoDataFrame(
    clean_data_granted, geometry=clean_data_granted.geometry)

In [13]:
#converting geopandas dataframe to geoxml file
gdf.to_file('c_demolition_sites.gml')

In [14]:
#Finding sum of column oppervlakt and column oppervla_1
clean_data_granted['oppervlakt'].sum(), clean_data_granted['oppervla_1'].sum()

(167499, 283900)