In [12]:
import geopandas as gpd
import pandas as pd

In [13]:
con_per_granted=gpd.read_file("shapefiles/construction_permit_granted/construction_permit_granted.shp")

In [14]:
con_per_granted.head()

,id,identifica,bouwjaar,status,gebruiksdo,oppervlakt,oppervla_1,aantal_ver,actualitei,geometry
0,pand.5177630,626100000014960,2013,Bouwvergunning verleend,"gezondheidszorgfunctie, woonfunctie",53,68,12,None,"POLYGON Z ((90740.271 459713.152 0.000, 90732...."
1,pand.5177810,626100000015185,2016,Bouwvergunning verleend,None,0,0,0,None,"POLYGON Z ((90017.195 458749.396 0.000, 90025...."
2,pand.5177843,626100000015226,2018,Bouwvergunning verleend,"bijeenkomstfunctie, industriefunctie, winkelfu...",966,966,1,None,"POLYGON Z ((89648.334 459169.004 0.000, 89683...."
3,pand.5177848,626100000015261,2017,Bouwvergunning verleend,None,0,0,0,None,"POLYGON Z ((89665.069 459386.485 0.000, 89668...."
4,pand.5177883,626100000015304,2019,Bouwvergunning verleend,None,0,0,0,None,"POLYGON Z ((89617.945 458876.852 0.000, 89616...."

In [15]:
con_per_granted.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 6993 entries, 0 to 6992
Data columns (total 10 columns):
id            6993 non-null object
identifica    6993 non-null int64
bouwjaar      6993 non-null int64
status        6993 non-null object
gebruiksdo    4047 non-null object
oppervlakt    6993 non-null int64
oppervla_1    6993 non-null int64
aantal_ver    6993 non-null int64
actualitei    0 non-null object
geometry      6993 non-null geometry
dtypes: geometry(1), int64(5), object(4)
memory usage: 546.5+ KB

In [16]:
con_per_granted.columns

#id, identifier, constuction year, status, usage, square mts,square mts, number of floors,

Index(['id', 'identifica', 'bouwjaar', 'status', 'gebruiksdo', 'oppervlakt',
       'oppervla_1', 'aantal_ver', 'actualitei', 'geometry'],
      dtype='object')

In [17]:
#converting the column to string type
#con_per_granted['gebruiksdo']=con_per_granted['gebruiksdo'].astype(str)
new_data_granted=con_per_granted.dropna(subset=['gebruiksdo'])

In [18]:
#dropping the column as null values
new_data_granted=new_data_granted.drop(columns='actualitei',axis=1)

In [19]:
#cleaned data in new_data_granted
new_data_granted.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 4047 entries, 0 to 6992
Data columns (total 9 columns):
id            4047 non-null object
identifica    4047 non-null int64
bouwjaar      4047 non-null int64
status        4047 non-null object
gebruiksdo    4047 non-null object
oppervlakt    4047 non-null int64
oppervla_1    4047 non-null int64
aantal_ver    4047 non-null int64
geometry      4047 non-null geometry
dtypes: geometry(1), int64(5), object(3)
memory usage: 316.2+ KB

In [20]:
new_data_granted.to_csv('construction_permit_granted_data.csv',index=False)

In [22]:
#finding total sqmts of two columns
new_data_granted['oppervlakt'].sum(), new_data_granted['oppervla_1'].sum()

(1346172, 1502713)

In [23]:
#converting pandas file to geopandas dataframe
gdf=gpd.GeoDataFrame(
    new_data_granted, geometry=new_data_granted.geometry)

In [24]:
#converting geopandas dataframe to geoxml file
gdf.to_file('c_construction_sites_permit_granted.gml')