In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
con_started=gpd.read_file("shapefiles/construction_started/construction_started.shp")

In [3]:
con_started.head()

,id,identifica,bouwjaar,status,gebruiksdo,oppervlakt,oppervla_1,aantal_ver,actualitei,geometry
0,pand.5177835,626100000015214,2017,Bouw gestart,None,0,0,0,None,"POLYGON Z ((89487.389 459058.538 0.000, 89482...."
1,pand.9071746,1916100000365194,2015,Bouw gestart,None,0,0,0,None,"POLYGON Z ((90447.066 457448.258 0.000, 90450...."
2,pand.9071749,1916100000365223,2016,Bouw gestart,woonfunctie,164,164,1,None,"POLYGON Z ((92147.445 457489.727 0.000, 92153...."
3,pand.9071783,1916100000366522,2016,Bouw gestart,winkelfunctie,100,100,1,None,"POLYGON Z ((86054.918 456238.926 0.000, 86058...."
4,pand.9071784,1916100000366523,2016,Bouw gestart,winkelfunctie,100,100,1,None,"POLYGON Z ((86065.945 456244.316 0.000, 86067...."

In [4]:
con_started.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5163 entries, 0 to 5162
Data columns (total 10 columns):
id            5163 non-null object
identifica    5163 non-null int64
bouwjaar      5163 non-null int64
status        5163 non-null object
gebruiksdo    3185 non-null object
oppervlakt    5163 non-null int64
oppervla_1    5163 non-null int64
aantal_ver    5163 non-null int64
actualitei    0 non-null object
geometry      5163 non-null geometry
dtypes: geometry(1), int64(5), object(4)
memory usage: 403.5+ KB

In [5]:
#con_started['gebruiksdo']=con_started['gebruiksdo'].astype(str)
con_not_status=con_started[con_started['bouwjaar']>2019][['status']]
(con_not_status=='niet begonnen').count()

status    116
dtype: int64

In [6]:
#modifying the dataset with construction year>2019 status as not started
con_started.loc[con_started['bouwjaar']>2019,'status']='niet begonnen'

In [7]:
con_started.head()

,id,identifica,bouwjaar,status,gebruiksdo,oppervlakt,oppervla_1,aantal_ver,actualitei,geometry
0,pand.5177835,626100000015214,2017,Bouw gestart,None,0,0,0,None,"POLYGON Z ((89487.389 459058.538 0.000, 89482...."
1,pand.9071746,1916100000365194,2015,Bouw gestart,None,0,0,0,None,"POLYGON Z ((90447.066 457448.258 0.000, 90450...."
2,pand.9071749,1916100000365223,2016,Bouw gestart,woonfunctie,164,164,1,None,"POLYGON Z ((92147.445 457489.727 0.000, 92153...."
3,pand.9071783,1916100000366522,2016,Bouw gestart,winkelfunctie,100,100,1,None,"POLYGON Z ((86054.918 456238.926 0.000, 86058...."
4,pand.9071784,1916100000366523,2016,Bouw gestart,winkelfunctie,100,100,1,None,"POLYGON Z ((86065.945 456244.316 0.000, 86067...."

In [8]:
new_data=con_started.dropna(subset=['gebruiksdo'])

In [9]:
#There is no data in the column ACTUALITEI so we drop it
new_data=new_data.drop(columns=['actualitei'])

In [10]:
new_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 3185 entries, 2 to 5156
Data columns (total 9 columns):
id            3185 non-null object
identifica    3185 non-null int64
bouwjaar      3185 non-null int64
status        3185 non-null object
gebruiksdo    3185 non-null object
oppervlakt    3185 non-null int64
oppervla_1    3185 non-null int64
aantal_ver    3185 non-null int64
geometry      3185 non-null geometry
dtypes: geometry(1), int64(5), object(3)
memory usage: 248.8+ KB

In [11]:
new_data.head(10)

,id,identifica,bouwjaar,status,gebruiksdo,oppervlakt,oppervla_1,aantal_ver,geometry
2,pand.9071749,1916100000365223,2016,Bouw gestart,woonfunctie,164,164,1,"POLYGON Z ((92147.445 457489.727 0.000, 92153...."
3,pand.9071783,1916100000366522,2016,Bouw gestart,winkelfunctie,100,100,1,"POLYGON Z ((86054.918 456238.926 0.000, 86058...."
4,pand.9071784,1916100000366523,2016,Bouw gestart,winkelfunctie,100,100,1,"POLYGON Z ((86065.945 456244.316 0.000, 86067...."
5,pand.9071785,1916100000366524,2016,Bouw gestart,winkelfunctie,100,100,2,"POLYGON Z ((86076.035 456249.772 0.000, 86075...."
6,pand.9071786,1916100000366525,2016,Bouw gestart,winkelfunctie,100,100,2,"POLYGON Z ((86104.151 456227.702 0.000, 86090...."
7,pand.9071788,1916100000366526,2016,Bouw gestart,winkelfunctie,100,100,1,"POLYGON Z ((86110.794 456232.550 0.000, 86096...."
8,pand.9071789,1916100000366527,2016,Bouw gestart,winkelfunctie,100,100,1,"POLYGON Z ((86117.555 456237.065 0.000, 86103...."
9,pand.9071792,1916100000366516,2016,Bouw gestart,winkelfunctie,100,100,1,"POLYGON Z ((86153.416 456288.828 0.000, 86160...."
10,pand.9071793,1916100000366517,2016,Bouw gestart,winkelfunctie,100,100,1,"POLYGON Z ((86123.757 456242.545 0.000, 86110...."
11,pand.9071794,1916100000366518,2016,Bouw gestart,winkelfunctie,100,100,1,"POLYGON Z ((86130.538 456247.033 0.000, 86117...."

In [12]:
new_data.columns
#id, identifier, construction year, status, building type(office or house), surface, surface1, number of ver, geometry

Index(['id', 'identifica', 'bouwjaar', 'status', 'gebruiksdo', 'oppervlakt',
       'oppervla_1', 'aantal_ver', 'geometry'],
      dtype='object')

In [18]:
#saving to .csv in the excel data format
new_data.to_csv('construction_started_data.csv',index=False)

In [14]:
new_data['bouwjaar'].unique()

array([2016, 2018, 2017, 2015, 2020, 2021, 2019, 2014, 2013, 2010, 2012,
       2011, 1999], dtype=int64)

In [15]:
#finding total sqmts of two columns
new_data['oppervlakt'].sum(), new_data['oppervla_1'].sum()

(638362, 1025034)

In [16]:
#converting pandas file to geopandas dataframe
gdf=gpd.GeoDataFrame(
    new_data, geometry=new_data.geometry)

In [17]:
#converting geopandas dataframe to geoxml file
gdf.to_file('c_construction_sites.gml')

In [22]:
import matplotlib.pyplot as plt

#plotting between the construction year and status of it
#plt.plot(new_data['bouwjaar'],new_data['status'])